# prisma/nestjs
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@127.0.0.1:15432/budgetdb

# postgres
POSTGRES_USER=userdb
POSTGRES_PASSWORD=12345678

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

